[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
pandas = "*"
requests = "*"
scikit-learn = "*"
gunicorn = "*"
colorama = "*"
joblib = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
