
<!DOCTYPE html> 
<html> 
  
<head> 
    <title> 
        visualizations
    </title> 
</head> 
  
<body> 
    <h1 style="color:green;"> visualizations for (correlation matrix, campaign features )</h1> 
  
    <h2>
        how the features you choose can impact your backers count and your campaign state
    </h2> 
  </body>
	<!-- Image -->
	<a href="#" class="image featured">
		<img src="static/images/ban.jpg" alt="" />
	 </a>
 
<div class="container" id=footer>
    <form action="/">
        <button type="submit">Go Back</button>
    </form>
</div>
</html>

